@font-face {
    font-family: street;
    src: url('../fuente/arcade.TTF');
  }

body{
    font-family: "street";
    background-image: url("../../Games/trivial/view/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.tabla{
    background-color:rgba(255, 255,255, .7);
    margin-top:100px;
    color:rgb(18, 87, 55);
    font-size: 24px;
}
td{
    padding-left:50px;
}
