*{
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: street;
    src: url('../fonts/arcade.TTF');
  }
body{
    font-family: street;
	height: 100%;
    width: 100%;
    background-color: black;
    user-select: none;
    background-image: url(../imagenes/cell.jpg);
}

.uno{
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding-bottom: 650px;
    text-align: center;
	background-image: url(../imagenes/tatami.jpg);
	background-position: center;
}

.dos{
	background-color: #3498db;
	position: absolute;
	display: inline-block; 
	padding: 20px 40px;
	color: white;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(180%, -100%);
	vertical-align: middle;
	text-decoration: none;
	font-size: 1vw;
	background-color: #01070a;   
}

#pesas{
    top: 590px; 
    position: absolute; 
    margin-left: auto;
	margin-left: 24%;
}

.button { 
	display: inline-block; 
	padding: 20px 40px;
	color: white;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	text-decoration: none;
	font-size: 4vw;
	transition: all .5s;
	background-color: #11527e;   
}

.button:hover{
	background-color: black;
	color: rgb(236, 238, 229);
}
