body {
    background-image: url("./imagen/marco.png"), url("./imagen/fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
#contenido {
    background-color: rgba(236, 103, 8, .8);
}
#entrar {
    background-color:black;
    border-color:red;
    font-size:18px;
}
#puntuacion {
    background-color: black;
    border-color: red;
    font-size: 18px;
}
img {
    width:30%;
}
h1, p {
    font-family: dance;
}

#efectoBlink {
    color: white;
}

.parpadeo{
    display:none;
}

.error{
    color: black;
}

@font-face {
    font-family: "dance";
    src: url("./fuente/arcade.TTF");
}
