body {
    background-image: url("./imagen/marco.png"), url("./imagen/fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
#contenido{
    background-color:darkorange;
    opacity:0.8;
}
#entrar {
    background-color:orange;
    border-color:red;
}
#puntuacion {
    background-color: orange;
    border-color: red;
}
img {
    width:30%;
}
h1, p{
    font-family:dance;
}

@font-face {
    font-family: "dance";
    src: url("./fuente/arcade.ttf");
}
