<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" action="">
		Nombre<input type="text" name="nombre" required=""><br>
		Apellidos<input type="text" name="nombre" required=""><br>
		Cursos<br>
		<input type="radio" name="curso" value="Bach" required=""> Bachillerato<br>
		<input type="radio" name="curso" value="ESO" required=""> ESO<br>
		<input type="radio" name="curso" value="FP" required=""> Formación profecional<br>
		<input type="submit" name="entrar" value="Entrar">
	</form>
</body>
</html>