<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" action="">
		Nombre del grupo<input type="text" name="nameGroup" required id="nameGroup"><br>
		Cursos<br>
		<input type="radio" name="curso" value="Bach" required id="bach"> Bachillerato<br>
		<input type="radio" name="curso" value="ESO" required id="eso"> ESO<br>
		<input type="radio" name="curso" value="FP" required id="fp"> Formación profecional<br>
		<input type="submit" name="entrar" value="Entrar">
		<input type="submit" name="verPuntuacion" value="Ver Puntuación">
	</form>
</body>
</html>